# MongoDB connection
MONGO_URI=mongodb://admin:secret@mongodb:27017
MONGO_DBNAME=okaycooldb

# Image processing configuration
INPUT_DIR=images/input
OUTPUT_DIR=images/output
ARCHIVE_DIR=images/archive
POLL_INTERVAL=5

# Redaction configuration
# Path to image used for redaction (if not set, black rectangles will be used)
REDACTION_IMAGE=images/redaction/emoji.png 