[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
flask = "==3.1.0"
flask-debugtoolbar = "*"
python-dotenv = "==0.16.0"
pytest = "*"
pytest-flask = "*"
coverage = "*"
pymongo = {extras = ["tls", "srv"], version = "==4.10.0"}


[dev-packages]

[requires]
python_version = "3.13"
